[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"

[packages]
sqlalchemy = "*"
netcdf4 = "*"
psycopg2 = "*"
pandas = "*"
geopy = "*"
python-telegram-bot = "*"

[requires]
python_version = "3.6"
